@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    /* background: url(background.jpg); */
    /* background-attachment: fixed; */

}

header
{
    position: relative;
    max-width: 100%;
    /* margin: 20px auto; */
    padding: 5px;
    background: rgb(32, 31, 31);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba( 0, 0, 0, 0.2 );
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.logo
{
    color: gray;
    height: 50px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float:  left;
    font-weight: 700;
    text-decoration: none;
    margin-top: 0.5%;

}

nav
{
    width: 100%;

}

.clearfix
{
    clear: both;

}

nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
    margin-right: 10%;
}

nav ul li 
{
    list-style: none;
}

nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px ;
    text-decoration: none;
    color: #0d91c5;
    margin-left: 5px;
    margin-right: 5px;

}

nav ul li a.active,
nav ul li a:hover
{
    background: #06cdf0;
    color: #fff;
    transition: 0.5s;

}

@media(max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}

@media(max-width: 768px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        /* background: #ccc; */
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;

    }
    .menu-toggle:before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before
    {
        content: '\f00d';
     
    }
    nav
    {
        display: none;

    }
    nav.active
    {
        display: block;
        width: 100%;

    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li 
    {
        margin: 0;

    }
}